.coverletter {
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  p {
    margin-top: 10px;
  }
}

.jumbo {
  margin-top: 50px;
  animation-name: fadeIn;
  animation-duration: 2s;
}
